<h2>Search Contracts</h2>

<form asp-action="Search" method="post">

    <div>
        <p>Start Date</p>
        <input type="date" name="start" />
    </div>

    <div>
        <p>End Date</p>
        <input type="date" name="end" />
    </div>

    <div>
        <select name="status">
            <option value="">-- All --</option>
            <option value="0">Draft</option>
            <option value="1">Active</option>
            <option value="2">Expired</option>
            <option value="3">OnHold</option>
        </select>
    </div>

    <div>
        <button type="submit">Search</button>
    </div>

</form>